<div class="app">
    <div class="section-title">Detailed Worklogs</div>
    <div class="table-wrap">
        <table id="detailedWorklogsTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Jalaali Date</th>
                <th>Gregorian Date</th>
                <th>Issue</th>
                <th>Summary</th>
                <th>Hours</th>
                <th>Time Spent</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr><td colspan="8">Select a user and month to see worklogs.</td></tr>
            </tbody>
        </table>
    </div>
</div>
